@import "tailwindcss";
@theme {
    --color-primary-light: #467c63;
}

html,
body {
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#root {
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type="time"].no-border {
  border: none;
  outline: none;
  box-shadow: none;
}

input[type="time"].no-border:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #d5cbcb;
    margin-top: 40vh;
    margin-right: 35vw;
    margin-bottom: 40vh;
    margin-left: 35vw;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-light);
  }
  
  .break-word {
    word-wrap: break-word;
    hyphens: auto;
  }
  
